
.row{
    
    display: flex;
    justify-content: space-evenly;
    
    height: 100px;
    gap: 10px;
    margin-bottom: 10px;
}
.row div{
    background-color: blueviolet;
    

}
.col{
    flex: 1;
}
.col-2{
    flex:2;
}
.col-3{
    flex: 3;
}