*{
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:5px;
}

h1{
    background-color: black;
    color: aliceblue;
    padding: 8px 15px;
}
#cloud-word{
    color: aqua;
}
h2{
    background-color: blueviolet;
    color: aliceblue;
    text-align: center;
    padding: 8px;
}
h3{
    background-color: rgb(116, 210, 253);
    color: rgb(91, 59, 104);
    text-decoration:underline;
    text-align: right;
    padding:8px;
}